[submodule "libs/velecs-ecs"]
	path = libs/velecs-ecs
	url = https://github.com/greenmatthew/velecs-ecs-cpp.git
[submodule "libs/velecs-math"]
	path = libs/velecs-math
	url = https://github.com/greenmatthew/velecs-math-cpp.git
[submodule "libs/velecs-input"]
	path = libs/velecs-input
	url = https://github.com/greenmatthew/velecs-input-cpp.git
[submodule "libs/velecs-common"]
	path = libs/velecs-common
	url = https://github.com/greenmatthew/velecs-common-cpp.git
[submodule "libs/velecs-deps"]
	path = libs/velecs-deps
	url = https://github.com/greenmatthew/velecs-deps-cpp.git
