[submodule "libs/flecs"]
	path = libs/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/vkbootstrap"]
	path = libs/vkbootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "libs/ImGuizmo"]
	path = libs/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
